# MintPRINT Unit0 example
HOST=192.168.0.51
PORT=80
PATH=/ipp/print
ENGINE=jpeg
DEBUG=0
# Capability-backed defaults written by MintPrint Settings after Query Printer.
MEDIA=
SOURCE=
COLOR=
QUALITY=
SCALING=
SIDES=
PWG_SHEET_BACK=normal
